.DS_Store
build/
obj/
debwork/
backups/
reverse/
Dante.app/
*.o
*.a
*.dylib
*.deb
*.ipa
dante-bench
screenshot-*.png

ssh_*.conf

Dante/Resources/Certs/
*.cer
*.crt
*.pem
*.p12
*.key
*.mobileprovision

Dante/Networking/AmneziaWG/AWGSecrets.h
Dante/Resources/warp_bootstrap.json
Dante/Resources/warp_verified_seeds.json
Dante/Resources/proton_nodes.json
Dante/Resources/opera_endpoints.json

Dante/Networking/Power/
Dante/Daemon/DanteTunNAT.c
Dante/Daemon/DanteTunNAT.h
dante-power-test.m
dante-power-test
Vendor/
*vless*
